[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://chromium.googlesource.com/external/googletest.git
[submodule "thirdparty/thrust"]
	path = thirdparty/thrust
	url = https://github.com/thrust/thrust.git
